$primary: #AA0601;
$secondary: #FBF2F2;
$brown-300: #650300;
$brown-200: #5F3E2D;
$brown-100: #B75929;
$white: #fff;

$space: 8px;



// @each $key, $value in 1,4,10 {
//     .mb-#{$key} {
//         margin-bottom: $space * $key;
//     }
// }