
.header {
    // padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include pad() {
        padding: 0px 32px;
    }
    @include phone() {
        padding: 12px 0 0 0;
        flex-direction: column;

        .header-list {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 15px 12px 15px;
        }       
    }

    .header-nav {
        display: flex;
        justify-content: space-between;

        li a {
            display: block;
            padding: 24px 24px;
            color: $white;

            &:hover {
                background-color: $brown-300;
            }
            
        }

        @include phone() {
            flex-wrap: wrap;
            width: 100%;
            margin-top: 16px;
            display: none;

            li {
                
                border: 1px solid $white;
                margin-right: 0;
                width: 50%;
                text-align: center;
                padding: 12px;
            }

            &.open {
                display: flex;
            }
        }   
    }
   
}

.hamburger{
    display: none;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    color: white;
    span {
        font-size: 40px;
        &:first-child {
            display: block;
        }
        &:last-child {
            display: none;
        }
    }
    @include phone() {
        display: inline;
        
        &.open {
            span:first-child {
                display: none;
            }
            span:last-child {
                display: block;
            }
        }
        // display: inline
        // text-align: right;
    }
}



