.banner {
    height: calc(100vh - 74px);
    background-image: url('../images/home-header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;

    .banner-content {
        width: 960px;
        margin: 0 auto;
        padding: 0 12px;
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: end;
        
        
        a{

            padding: 6px 12px;
            text-align: center;
        }

        @include phone() {
            span {
                font-size: 16px;
                line-height: 24px;
            }

            h1 {
                font-size: 24px;
                line-height: 36px;
            }

            a {
                font-size: 20px;
                line-height: 30px;
            }
        }

    }
    
}

.introduce {
    padding: 80px 0px;
    
    ul {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
    }

    li {
        margin-left: 24px;
        width: 22%;
    }

    h3 {
        font-weight: bold;
        margin-top: 24px;
        margin-bottom: 1px;
    }

    p {
        text-align: left;
    }

    @include pad() {
        
        ul li {
            width: 47%;
            margin-bottom: 50px;
            
        }
    }

    @include phone() {
        h2 {
            font-size: 24px;
            line-height: 36px;
        }

        ul li {
            width: 100%;
            margin-left: 0;
        }
    }

}

.glasses {
    padding: 80px 0;

    ul {
        display: flex;
        justify-content: space-between;
        
    }

    li {
       
        width: 50%;
        margin-right: 24px;

        h3 {
            font-style: italic;
        }
        img {
            display: block;
            // width: 416px;
            
        }
    }

    @include pad () {
        ul {
            flex-direction: column;
            align-items: center;
        }

        ul li {
            margin-bottom: 24px;
            margin-right: 0;
        }

        // ul li img {
        //     width: 336px;
        // }
    }

    @include phone() {
        ul li {
            width: 100%;
            padding: 0 12px;
        }
    }
}

.brand {
    
    background-image: url('https://images.unsplash.com/photo-1542966336-22953b5f7404?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 80px 0;

    .brand-text {
        padding: 8px 0;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        background-color: $white;
    }

    @include pad() {
        ul {
            flex-direction: column;
            align-items: center;
        }
        ul li {
            width: 100%;
            margin-bottom: 24px;
        }
    }

    @include phone() {
        ul li img {
            width: 100%;
            height: 240px;
            object-fit: cover;
    }
}

}

.brand {
    padding: 80px 0;
}


.recommend {
    padding: 80px 0;

    .recommend-card {
        display: flex;
        justify-content: space-between;


        @include pad() {
            flex-wrap: wrap;
        }
        
    }
}

.recommend-card-wrap {
    width: 23%;
    box-shadow: 0px 2px 6px #00000029;
    border-radius: 4px;

    @include pad() {
        margin-right: 0;
        width: 48%;
        margin-bottom: 24px;
    }

    @include phone() {
        width: 100%;
        margin-bottom: 16px;
    }

    .recommend-card-body {
        height: 205px;
        padding: 16px;
        background-color: $white;
        position: relative;

        p:last-child {
            color: #707070;
        }

        .recommend-date {
            position: absolute;
            bottom: 16px;
        }

        // .recommend-content {
        //     height: 100%;
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: space-between;
        // }
    }
}

.contact {
    padding: 80px 0;

    @include phone() {
        padding-bottom: 40px;
    }
}


.contact-body {
    margin: 0 auto;
    width: 636px;

    @include pad() {
        width: 80%;
    }

    @include phone() {
        width: 100%;
    }

    input, textarea {
        background-color: transparent;
    }

    form input {
        width: 100%;
        height: 36px;
        padding: 0 12px;
        border: 1px solid #000; 
    }

    input::input-placeholder {
       opacity: 0.2;
    }

    form textarea {
        padding: 6px 12px;
        width: 100%;
        height: 136px;
    }

    .form-checkbox {
        width: 18px;
        height: 18px;
        border-radius: 4px;
        display: inline-block;
        vertical-align: middle;
    }

    .form-check-label {
        vertical-align: middle;
    }

    .form-input-button {
        width: 416px;
        height: 56px;
        background-color: $primary;
        color: $white;
        font-size: 16px;
        border: 0;

    }




}